{% load static%}
body {
    background: #ff8c00;
    background-image: url("https://ggdt.ru/file/2021/06/scale_1200.jpg");

            background-repeat: repeat-x;

            background-position: center;

            background-size: 100%;
}
aside {
    float: left;
    background: #000000;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #ccd000;
    border-right: 5px solid #000000;
}
aside img{
    width: 50px;
    float: left;
}
aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3{
    margin-top: 25px;
    font-size: 30px;
}
aside ul {list-style:none}
aside ul li{
    color: #ff8c00;
    display: block;
    margin-top: 20px;
    transition: transform .4s ease;
}
aside ul li:hover,aside ul a:hover{
        color: #ff8c00;
    text-decoration: none;
    transform: scale(1.1);
}
main .feature {
    float: left;
    color: #ff8c00;
    margin-top: 50px;
    text-align: center;
    width: 55%;
}

main .feature h1{font-size: 50px;}
main .feature p {max-width: 1000px; margin:20px auto}
